.Header{
    background-image: url("https://bbf.enssib.fr/sites/bbf.enssib.fr/themes/bbf2020/img/home-bg.jpg");
    display: flex;
    width: 1400px;
    height: 230px;
    justify-content: space-between;
   

}
.button-right{
    
    font-size: 20px;
    align-items: center;
    width: 20px;
   
  
    
}
.button{
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 70px;
    background-color: rgb(147, 221, 147);
    font-size: 16px;
    border-radius: 200px;
    border: none;
   color: white;
   margin-left: 500px;
   cursor: pointer;
   
}
.button:hover{
    background-color:black;
    
}
.image1{
    height: 250px;
}
.image2{
    height: 250px;
    margin-left: 550px;
   
}

.allicons{
    display: flex;
    justify-content: space-between;
}
.Dialogue{
    background-color:rgb(245, 236, 236);
    border-color: white;

}
.form{
    border-color: rgb(170, 194, 170);
    border-bottom: 20px;
    background-color:rgb(245, 236, 236);
    


}
.inputs{
    border-color: rgb(181, 209, 181);
    border-style: double;
    border-radius: 25px;
    padding-top: 8px;
    
}
.titles{
    color: black;
    font-family: Impact;
    font-size: 20px;
}
.Resume{
    padding: 40px;
    border-radius: 50px;
    border: none;
    border-color: (181, 209, 181);
    font-family: Impact;
    font-size: 20px;
   
}
.resumetext{
    font-family: Impact;
    font-size: 20px;
}
.two-button{
    padding: 10px;
    border-radius: 20px;
    border-width: 0px;
    background-color: white;
    margin-top: 10px;
    
}
.two-button:hover{
    background-color: aqua;
    color: white;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;

}